@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@400;900&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.wrapper__title {
  text-align: center;
  margin: 0 auto;
}

.title__first {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #898f8f;
  margin-bottom: 10px;
}

.title__second {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  color: #ffcc00;
  margin-bottom: 40px;
}

.title__picture {
  height: 17px;
  width: 450px;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-gripfire {
  margin: 0 8px;
  color: #ffcc00;
}

.title__picture--left,
.title__picture--right {
  content: "";
  height: 2px;
  width: 210px;
  background-color: #ffcc00;
}

.wrapper__body {
  height: 600px;
  width: 1170px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body__left,
.body__right {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.body__bound {
  width: 2px;
  background-color: #ffcc00;
}

.arrow {
  width: 16px;
  height: 25px;
  font-size: 25px;
  color: #ffcc00;
  text-align: center;
}

.arrow:hover {
  cursor: pointer;
}

.left__arrow {
  left: -80px;
}

.right__arrow {
  left: 100%;
  margin-left: 80px;
}

.left__content {
  height: 420px;
  width: 100%;
  background-image: url(../img/stuff__img1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.right__content {
  height: 400px;
  width: 100%;
}

.right__content--name {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #666666;
  margin-bottom: 30px;
}

.right__content--bound {
  width: 100px;
  height: 2px;
  background-color: #ffcc00;
  margin: 0 auto 20px;
}

.right__content--skill {
  font-family: "Raleway", sans-serif;
  font-weight: regular;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.right__content--socials {
  list-style: none;
  width: 140px;
  height: 30px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  color: #ccc;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.socials__item i {
  line-height: 27px;
}

.socials__item:hover {
  cursor: pointer;
  color: #000;
}

.right_text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: medium;
  color: #333;
  margin-bottom: 20px;
}

.right__lines {
  width: 50px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 30px;
}

.right__lines .line__item:nth-child(1),
.right__lines .line__item:nth-child(3) {
  width: 10px;
  height: 100%;
  background-color: #ffcc00;
}

.right__lines .line__item:nth-child(2) {
  width: 20px;
  background-color: #ffcc00;
}

.right__button {
  width: 120px;
  height: 24px;
  border: 2px solid #ffcc00;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #666;
}

.right__button:hover {
  cursor: pointer;
}

.wrapper__dots {
  width: 50px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 30px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffcc00;
}

.dot:hover {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 2px solid #ffcc00;
  background-color: #fff;
}

.dot.active {
  width: 12px;
  height: 12px;
  border: 2px solid #ffcc00;
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */